h1 {
	position: relative;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 48px;
	}

#block {
	text-align: center;
	}
#bundestag {
	position: relative;
	height: 0.3em;
	width: 0.3em;
body {
	background-color: red;
}
