h1 {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 48px;
	margin: auto;
	justify-content: center;
	}
#block {
	position: absolute;
	top-margin: 100px;
	left-margin: 50%;
	right-margin: 50%;
	display: flex;
	}

body {
	background-color: red;
	}
