h1 {
	position: relative;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 48px;
	}

#block {
	position: absolute;
	top: 0.2em;
	left: 0.5em;
	right: 0.5em;
	display: flex;
	}

body {
	background-color: red;
	}
